<!-- <input
  type="text"
  class="form-control"
  placeholder="Enter text"
  (input)="onServerUpdate($event)"
/> -->
<!-- <p>{{ allowInnerText }}</p> -->
<!-- <p>{{ serverName }}</p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<form action="">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter text" [(ngModel)]="serverName" />
  </div>
  <div class="form-group">
    <div class="btn-server">
      <button class="btn btn-primary btn-lg" (click)="onCreateServer()">
        Add Server
      </button>
    </div>
  </div>
</form>
<a href="" class="btn btn-lg"></a>
<hr />
<app-server *ngFor="let server of servers"></app-server>
<div>
  <p *ngIf="whenServerCreated">
    Server was created , the server name is {{ serverName }}
  </p>
  <ng-template #whenNoServerCreated>
    <p>Server was not created yet</p>
  </ng-template>
</div>
